:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primary: #608aff;
  --color-secondary: rgb(162, 187, 250);
  --color-tertiary: rgba(231, 236, 255, 0.82);
  --color-backgronund: #f8f8f8;
  --color-header: #efefef;
  --color-text: #333333;
  --color-error: #ff4d4d;
  --color-error-background: #fc9191;
}

a {
  font-weight: 500;
  color: var(--color-primary) !important;
  text-decoration: none;
}
a:hover {
  color: var(--color-secondary) !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-backgronund);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*BUTTONS STYLES*/

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 6px 10px !important;
  margin: 5px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: 0.5s;
}

button:hover:not(:disabled) {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-text);
}

.btn-outline {
  background-color: transparent !important;
  color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
}

.btn-outline:hover:not(:disabled) {
  background-color: var(--color-tertiary) !important;
}

button:focus,
button:focus-visible {
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vh;
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn-error{
  background-color: var(--color-error) !important;
    color: var(--color-text) !important;
    border: 1px solid transparent !important;
}

.btn-error:hover:not(:disabled) {
  background-color: #ff3b3b !important;
}

/*IMAGENES*/
.image-default{
  position: relative;
  width: 172px;
  height: 150px;
  overflow: hidden;
}

.image-default img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-default button {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px ;
  cursor: pointer;
  padding: 0 !important;
  background: var(--color-error-background) !important;
  border: var(--color-error) 3px solid;
  margin: 3px;
}

.input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid var(--color-secondary);
  box-sizing: border-box;
  background-color: var(--color-header);
  color: var(--color-text);
  transition: border-color 0.25s;
  text-align: start;
}

.line {
  border-bottom: 1px solid #5e5e5e;
  margin: 4px 0;
}


input:focus,
input:focus-visible {
  border: 1px solid var(--color-primary) !important;
  outline: none;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
}



@media (max-width: 1050px) {
  button {
    padding: 5px 8px !important;
    margin: 2px;
    font-size: 0.9rem;
    font-weight: 450;
  }
  .image-default{
    width: 152px;
    height: 130px;
  }
}
